
<div class = "gym">
  <div class="photoGym" style="width: 680px; height: 550px; ">
    <p style="color:white; font-size: 50px; margin-left: 0px; margin-bottom: 0; width: 680px; height: 50px">{{curGym.name}}</p>
    <a><img src="{{curGym.image}}"></a>
    <div class="gymName">
      <p>
        Название тренажерного зала: <span>{{curGym.name}}.</span><br>
        Адрес:<span>{{curGym.address}}.</span><br>
        Мы работаем с <span>{{curGym.start_time}}</span> по
        <span>{{curGym.end_time}}.</span>
      </p>
    </div>
  </div>
  <div class="aboutGym">
    <div style="width: 200px; float: left; margin-left: 60px;"><span style="font-size: 25px;">площадь:</span><br><span style="background-color: rgb(255,37,3); color: aliceblue; font-size: 50px;">{{curGym.area}}м2</span></div>
    <div style="margin-left: 30px; width: 250px ; float: left;"><span style="font-size: 25px;">позиций тренажеров:</span><br><span style="background-color: rgb(255,37,3); color: aliceblue;font-size: 50px;">{{curGym.simulator_positions}}</span></div>
    <div class="scrollbar"><p style="width: 400px; margin-left: 35px">{{curGym.best_sides}}</p></div>
  </div>
  <br>
  <a class="phone" href="tel:+7(747)9011033">+7 (747) 901 10 33</a>
  <div class="divOfTable">
    <table border="1" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td colspan="4" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Режим работы:ежедневно с06:00до23:30, Воскресенье с11:00до21:00&quot;}" rowspan="1"><span class="redRows">Режим работы:ежедневно с 06:00 до 23:30, Воскресенье с 11:00 до 21:00</span></td>
      </tr>
      <tr>
        <td colspan="4" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Абонемент - &quot;Densaulyq SILVER&quot;&quot;}" rowspan="1"><span class="redRows">Абонемент - "Densaulyq SILVER"</span></td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Разовая тренировка
          2500 тг.(Каждая 5-ая трен-ка бесплатно)&quot;}"><span class="redRows">Разовая тренировка<br>
          2500 тг. (Каждая 5-я трен. бесплатно)</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Мужской
          абонемент&quot;}"><span class="whiteRows">Мужской<br>
          абонемент</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Женский
          абонемент&quot;}"><span class="whiteRows">Женский<br>
          абонемент</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Студенч,пенс,инв
          абонемент&quot;}"><span class="whiteRows">Студенч,пенс,<br>
          инв.<br>
          абонемент</span></td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;2 раза в неделю
          (8 трен.)&quot;}"><span class="redRows">2 раза в неделю<br>
          (8 трен.)</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          8000тнг.
          06:00-23:30
          12000тнг.&quot;}"><span class="whiteRows">06:00-17:00<br>
          8000тнг.<br>
          06:00-23:30<br>
          12000тнг.</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          7000тнг.
          06:00-23:30
          12000тнг.&quot;}"><span class="whiteRows">06:00-17:00<br>
          7000тнг.<br>
          06:00-23:30<br>
          12000тнг.</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-18:00
          6500тнг.&quot;}"><span class="whiteRows">06:00-18:00<br>
          6500тнг.</span>
        </td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;3 раза в неделю
          (12 трен)&quot;}"><span class="redRows">3 раза в неделю<br>
          (12 трен)</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          9000тнг.
          06:00-23:30
          13000тнг.&quot;}"><span class="whiteRows">06:00-17:00<br>
          9000тнг.<br>
          06:00-23:30<br>
          13000тнг.</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          8000тнг.
          06:00-23:30
          13000тнг.&quot;}"><span class="whiteRows">06:00-17:00<br>
          8000тнг.<br>
          06:00-23:30<br>
          13000тнг.</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-18:00
          7000тнг.&quot;}"><span class="whiteRows">06:00-18:00<br>
          7000тнг.</span></td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;4 раза в неделю
          (16 трен)&quot;}"><span class="redRows">4 раза в неделю<br>
          (16 трен)</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          10000тнг.
          06:00-23:30
          14000тнг.&quot;}"><span class="whiteRows">06:00-17:00<br>
          10000тнг.<br>
          06:00-23:30<br>
          14000тнг.</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          9000тнг.
          06:00-23:30
          14000тнг.&quot;}"><span class="whiteRows">06:00-17:00<br>
          9000тнг.<br>
          06:00-23:30<br>
          14000тнг.</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-18:00
          8000тнг.&quot;}"><span class="whiteRows">06:00-18:00<br>
          8000тнг.</span></td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;МЕСЯЧНЫЙ БЕЗЛИМИТ:&quot;}"><span class="redRows">МЕСЯЧНЫЙ БЕЗЛИМИТ:</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          11000тнг.
          06:00-23:30
          15000тнг.
          (без права продления заморозки)&quot;}"><span class="whiteRows">06:00-17:00<br>
          11000тнг.<br>
          06:00-23:30<br>
          15000тнг.<br>
          (без права продления заморозки)</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          10000тнг.
          06:00-23:30
          15000тнг.
          (без права продления заморозки)&quot;}"><span class="whiteRows">06:00-17:00<br>
          10000тнг.<br>
          06:00-23:30<br>
          15000тнг.<br>
          (без права продления заморозки)</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-18:00
          9000тнг.


          (без права продления заморозки)&quot;}"><span class="whiteRows">06:00-18:00<br>
          9000тнг.<br>
          <br>
          <br>
          (без права продления заморозки)</span></td>
      </tr>
      <tr>
        <td colspan="4" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Абонемент - &quot;Densaulyq GOLD&quot;
          Дает право на посещение всех залов сети &quot;Densaulyq&quot;,  без права продления и заморозки.&quot;}" rowspan="1"><span class="redRows">Абонемент - "Densaulyq GOLD"<br>
          Дает право на посещение всех залов сети "Densaulyq", без права продления и заморозки.</span></td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;GOLD
          Месячный безлимит:&quot;}"><span class="redRows">GOLD<br>
          Месячный безлимит:</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          14.000тнг.
          06:00-23:30
          18.000тнг.
          &quot;}"><span class="whiteRows">06:00-17:00<br>
          14.000тнг.<br>
          06:00-23:30<br>
          18.000тнг.</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          13.000тнг.
          06:00-23:30
          17.000тнг.
          &quot;}"><span class="whiteRows">06:00-17:00<br>
          13.000тнг.<br>
          06:00-23:30<br>
          17.000тнг.</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-18:00
          10.000тнг.


          &quot;}"><span class="whiteRows">06:00-18:00<br>
          10.000тнг.</span><br>
          <br>
          &nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;GOLD
          Полугодовой абонемент:&quot;}"><span class="redRows">GOLD<br>
          Полугодовой абонемент:</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          55.000тнг.
          06:00-23:30
          70.000тнг.&quot;}"><span class="whiteRows">06:00-17:00<br>
          55.000тнг.<br>
          06:00-23:30<br>
          70.000тнг.</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          50.000тнг.
          06:00-23:30
          65.000тнг.&quot;}"><span class="whiteRows">06:00-17:00<br>
          50.000тнг.<br>
          06:00-23:30<br>
          65.000тнг.</span></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;GOLD
          Годовой абонемент:&quot;}"><span class="redRows">GOLD<br>
          Годовой абонемент:</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          95.000тнг.
          06:00-23:30
          130.000тнг.&quot;}"><span class="whiteRows">06:00-17:00<br>
          95.000тнг.<br>
          06:00-23:30<br>
          130.000тнг.</span></td>
        <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;06:00-17:00
          85.000тнг.
          06:00-23:30
          120.000тнг.&quot;}"><span class="whiteRows">06:00-17:00<br>
          85.000тнг.<br>
          06:00-23:30<br>
          120.000тнг.</span></td>
        <td>&nbsp;</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

