p {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.gyms figure{
  display: inline-block;
}
.gyms {
   margin-left: 125px;
 }
.gyms img {
  width: 600px;
  height: 400px;
  border-radius: 8px;
  cursor: pointer;
}
.figGym {
  display: inline-block;
}
.create {
  text-align: center;
}
button {
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 26px;
  margin-left: 10px;
  cursor: pointer;
}
.gymName {
  text-decoration: none;
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  color: black;
  width: 300px;
  transform: skew(-20deg);
  background: white;
  position: absolute;
}
input {
  border-radius: 5px;
  width: 200px;
  height: 25px;
  text-align: center;
}
.tasks {
  color: #4fdee5;
  text-align: center;
  font-size: 22px;
}
h1 {
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #551fff;
}
.logout:hover {
  color: red;
}
/*******************************header**********************************/


/*********************Authorization**********************/

/********************table*********************/


