<div class="authorization">
<!--&lt;!&ndash;  <img src="http://www.fitnessblitz.com/cms/uploads/file_1513237297_673122978.png" style="display: inline-block;">&ndash;&gt;-->
<!--&lt;!&ndash;  <div><input type="text" [(ngModel)]="username" placeholder="username"></div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div><input type="password" [(ngModel)]="password" placeholder="password"></div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div><button (click)="auth()">Login</button></div>&ndash;&gt;-->
</div>

<!--<div id="img2">-->
<!--  <img class="pic1" src="4.jpg">-->
<!--  <img class="pic2" src="5.jpg">-->
<!--</div>-->
