.figCoach {
  display: inline-block;
  margin-left: 70px;
}
.coaches img {
  width: 300px;
  height: 400px;
  border-radius: 8px;
  border: 8px double orangered;
  cursor: pointer;
}
.coaches {

  text-align: center;
}
h1 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
}
