
<div class="coach">
  <img src="{{currentCoach.image}}">
  <h2>{{currentCoach.name}} {{currentCoach.surname}}</h2>
  <p class = "instructor">ФИТНЕС-ИНСТРУКТОР</p>
  <p class = "experience">Режим работы:{{currentCoach.work_days}}</p>
  <p>Спецификация инструкторской деятельности: {{currentCoach.activity}}</p>
  <p>Образование: {{currentCoach.education}}</p>
  <p>​Хобби: {{currentCoach.hobby}}</p>
  <p>Достижения: {{currentCoach.achievement}}</p>
  <p>​​Стоимость индивидуального тренинга: {{currentCoach.price}} тг. (1 мес. / 12 занятий).</p>

  <ul>
    <li *ngFor="let act of activities">{{ act }}</li>
  </ul>
</div>
